{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-dark table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Cafe Name</th>
              <th scope="col">Location</th>
              <th scope="col">Open</th>
              <th scope="col">Close</th>
              <th scope="col">Coffee</th>
              <th scope="col">Wifi</th>
              <th scope="col">Power</th>
            </tr>
          </thead>
          <tbody>
            {% for cafe in cafes %}
            <tr>
              <th scope="row">{{ cafe['Cafe Name'] }}</th>
              <td><a href="{{ cafe['Location'] }}" target="_blank">Maps Link</a></td>
              <td>{{ cafe['Open'] }}</td>
              <td>{{ cafe['Close'] }}</td>
              <td>{{ cafe['Coffee'] }}</td>
              <td>{{ cafe['Wifi'] }}</td>
              <td>{{ cafe['Power'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
